<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital@1&display=swap" rel="stylesheet">
<section>

    <div class="d-flex" id="wrapper">

        
            <!-- Sidebar -->
            <div class=" border-right" id="sidebar-wrapper">
              <div class="sidebar-heading">
                  <img src="https://i.imgur.com/WKSANPc.png"> &nbsp;Video </div>
              <div class="list-group list-group-flush">
                <a routerLink="/dashboard" class="list-group-item list-group-item-action active">
               <img src="https://i.imgur.com/VTrUCBN.png"> &nbsp;&nbsp; Dashboard</a>
                <a routerLink="/manager" class="list-group-item list-group-item-action ">
                    <img src="https://i.imgur.com/jGpX4Rr.png"> &nbsp; &nbsp; File Manager</a>
                <a routerLink="/upload" class="list-group-item list-group-item-action ">
                    <img src="https://i.imgur.com/ppSDvM6.png"> &nbsp;&nbsp; Upload Video</a>
                <a routerLink="/stats" class="list-group-item list-group-item-action"> 
                    <img src="https://i.imgur.com/yyqt7CF.png"> &nbsp; &nbsp; Statistics</a>
                <a routerLink="/settings" class="list-group-item list-group-item-action">
                    <img src="https://i.imgur.com/lhslw68.png"> &nbsp; &nbsp; Settings</a>
                <a routerLink="/support" class="list-group-item list-group-item-action">
                    <img src="https://i.imgur.com/IuE3nSB.png"> &nbsp; &nbsp; Support</a>
              </div>
            </div>

            <router-outlet>

            </router-outlet>
           

            </div>
        
</section>